@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/beautiful.webp'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
